# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ALTERE_ESTA_SENHA_POSTGRES
POSTGRES_DB=bela_escala

# MinIO
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=ALTERE_ESTA_SENHA_MINIO

# Redis (sem senha em rede interna Docker)
